@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "input.css";
@import "button.css";
@import "sidebar.css";

.flex::before,
.flex::after {
    display: none !important;
}
@layer components {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        border-color: transparent;
    }
    
    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="datetime-local"]:focus,
    [type="month"]:focus,
    [type="search"]:focus,
    [type="tel"]:focus,
    [type="time"]:focus,
    [type="week"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        border-color: transparent;
        --tw-ring-color: transparent;
    }

element.style {
}
<style>
.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
<style>
.py-\[13px\] {
    padding-top: 13px;
    padding-bottom: 13px;
}
<style>
.bg-form-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(33 33 33 / var(--tw-bg-opacity));
}
<style>
.rounded-2xl {
    border-radius: 1rem;
}
<style>
.w-full {
    width: 100%;
}
}